@import "aeon_boilerplate";

.media_items_wrapper {
  position: relative;
  margin-top: -4px;
  margin-bottom: 4px;
  padding: 8px;
  padding-top: 28px;
  border: 1px solid #ccc;
  border-top: 1px solid #777;
  z-index: 12;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #ededed;
  box-shadow:inset 0px 6px 20px -7px #333;
  .aeon-round-bottom;

  .media_items_listing_wrapper {
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    cursor: pointer;
    height: 88px;

    padding: 8px;
    .aeon-round;
    background-color: #fafafa;
    border: 1px solid #ccc;


    .media_items_listing {
      max-height: 150px;
      width: 99999px;
      list-style: none;
      position: relative;
      white-space: nowrap;

      .media_item_thumb {
        display: inline-block;
        margin-left: 4px;
        margin-right: 4px;
        border: 2px solid;
        .aeon-round;
        border-color: transparent;
        height: 72px;
        text-align: center;
        opacity: 0.6;
        line-height: 72px;
        img, video {
          min-height: 72px;
          max-height: 100%;
          max-width: 100%;
        }
      }

      .media_item_thumb.selected {
        opacity: 1.0;
        border-color: #a2a2a2;
        background-color: #ececec;
      }

    }
  }


  .media_items_preview {
    position: relative;
    height: 444px;
    width: 552px;
    .center-margins;
    text-align: center;

    .preview_container {
      width: 552px;
      height: 444px;

      img, video {
        position: relative;
        z-index: 99;
        max-height: 100%;
        max-width: 100%;
        min-height: 50%;
        min-width: 50%;
      }

      video {
        height: 100%;
      }

    }
    .nav_arrows {
      .aeon-round(28px);
      .aeon-shadow;
      height: 54px;
      width: 54px;
      background-color: white;
      border: 1px solid #333;
      position: absolute;
      top: 150px;
      z-index: 110;
      .no-select;
      cursor: pointer;

      background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#d8d8d8));
    }
    .right_arrow {
      right: 0px;
      .next_icon {
        .no-select;
        height: 42px;
        width: 42px;
        margin-left: 17px;
        margin-top: 6px;
      }

    }

    .left_arrow {
      left: 0px;
      .prev_icon {
        .no-select;
        height: 42px;
        width: 42px;
        margin-left: -17px;
        margin-top: 6px;
      }

    }
  }

}

#AdminNavigation {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 360px;
  height: 32px;
  padding: 8px;
  z-index: 101;
}

.admin {
  background-color: #ff7c55;
  .aeon-round-right(25px);
  border: 1px dotted #3b3b3b;
}

#Navigation {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 32px;
  padding: 8px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px solid #aaa;
  z-index: 100;
  .aeon-shadow;
}

#ContentContainer {
  margin-top: 52px;
}

#CategoriesList {
  list-style: none;
  width: 350px;
  padding: 12px;
  .aeon-round;
  border: 1px solid #ccc;
  position: fixed;
  top: 52px;
  bottom: 0px;

  overflow-y: scroll;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e7f0ff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7f0ff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e7f0ff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7f0ff',GradientType=0 ); /* IE6-9 */

  .category_listing {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    margin-bottom: 8px;

    .drag_handle {
      display: hidden;
    }

    .title {
      min-height: 24px;
      text-indent: 8px;
      line-height: 24px;
      max-height: 48px;
      font-size: 15px;
      text-shadow: 0px 1px -1px rgb(190, 207, 255);
      color: #3b3b3b;
      letter-spacing: 1px;
    }

    .sub_categories_list {
      padding-left: 24px;
      list-style: none;
    }
  }

  .category_listing.selected {
    border: 1px solid #333;
  }


}

#CategoryControl {
  position: fixed;
  z-index: 101;
  display: block;
  height: 32px;
  padding: 8px;
  top: 0px;
  left: 134px;
  .new_category_button {
    .button;
    width: 120px;

    font-size: 14px;
    display: inline-block;
  }
  .delete_category_widget {
    .button;
    width: 64px;

    right: 12px;
    font-size: 14px;
    display: inline-block;
  }
}

#CategoriesList.edit_mode {
  background: transparent;

  .category_listing {
    cursor: auto;
    margin-bottom: 8px;
    .aeon-round;

    .drag_handle {
      height: 24px;
      width: 24px;
      position: absolute;
      left: 0px;
      background-image: url('/images/draghandle.png');
      background-repeat: no-repeat;
      background-position: center center;
      display: block;
    }

    .title {
      text-indent: 28px;
      border: 1px solid #8b8b8b;
      .aeon-round(5px);
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top,  #ffffff 0%, #e7f0ff 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7f0ff)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #ffffff 0%,#e7f0ff 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7f0ff',GradientType=0 ); /* IE6-9 */
    }

    .sub_categories_list {
      padding: 12px;
      padding-right: 8px;
      .aeon-round-bottom(5px);
      border-left: 1px solid #e1e1e1;
      border-right: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}

.category_listing.stub {
  list-style: none;
  cursor: auto;
  margin-bottom: 8px;
  .aeon-round;

  .drag_handle {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 0px;
    background-image: url('/images/draghandle.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
  }

  .title {
    text-indent: 28px;
    border: 1px solid #8b8b8b;
    .aeon-round(5px);
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e7f0ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7f0ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e7f0ff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e7f0ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7f0ff',GradientType=0 ); /* IE6-9 */
    padding: 4px;
  }

  .sub_categories_list {
    padding: 12px;
    padding-right: 8px;
    .aeon-round-bottom(5px);
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-left: 4px;
    margin-right: 4px;
  }
  -webkit-transform: scale(0.8) translateX(-1%);
  z-index: 1000;
  .aeon-shadow;
  .title {
    padding-right: 28px;
  }
}


.small {
  -webkit-transform: scale(0.8) translateX(-11%);
}

.micro {
  -webkit-transform: scale(0.6) translateX(-30%) translateY(30%);
  background-color: #fcfcfc !important;
}

.product_listing.micro {
  -webkit-transform: scale(0.3) translateX(-110%) translateY(-150%);
  opacity: 0.9;
}

.can_drop_hover {
  .title {
    border-color: #000 !important;
    background: rgb(254,252,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ) !important; /* IE6-9 */
  }
}

#EditCategoriesButton {
  .button;
  font-size: 14px;
  width: 120px;
}

#ProductsList {
  list-style: none;
  padding: 12px;
  .aeon-round;
  border: 1px solid #ccc;
  position: absolute;
  left: 394px;

  #ProductControl {
    display: none;
  }

  .product_listing {
    cursor: pointer;
    position: relative;
    background-color: transparent;
    margin-bottom: 8px;
    min-height: 160px;
    width: 640px;
    border: 1px solid #e5e5e5;

    .drag_handle {
      display: hidden;
    }

    .cover_image_wrapper {
      height: 160px;
      width: 160px;
      border-right: 1px solid #e5e5e5;
      position: absolute;
      .cover_image {
        height: 100%;
        width: 100%;
      }
    }

    .title {
      position: absolute;
      font-size: 16px;
      font-weight: bold;
      color: #004b91;
      left: 172px;
      top: 8px;
      margin-right: 8px;
    }

    .currency_marker {
      position: absolute;
      bottom: 1px;
      height: 24px;
      line-height: 24px;
      color: #900;
      font-weight: bold;
      text-indent: 40px;
      font-size: 20px;
      z-index: 1;
      opacity: 0.8;
    }

    .price, .price_missing {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 160px;
      text-align: center;
      height: 24px;
      line-height: 24px;
      background-color: #fcfcfc;
      font-weight: bold;
      color: #900;
      border: 1px solid #e5e5e5;
      border-right: 0px;
      border-bottom: 0px;
      border-left: 0px;
      opacity: 0.9;
    }

    .description {
      position: absolute;
      top: 50px;
      left: 172px;
      margin-right: 8px;
    }

  }

  .product_listing.selected {
    border: 1px solid #333;
  }

}

#ProductDetailWrapper {
  #ProductAddonsDrawerWrapper {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 164px;
    z-index: 102;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border-top: 1px solid #aaa;
    .aeon-shadow;

    #ProductAddonsDrawerCloseButton {
      border: 4px solid #fcfcfc;
      height: 36px;
      width: 36px;
      position: fixed;
      .aeon-shadow;
      .aeon-round(25px);
      background-color: #555;
      color: #fff;
      font-weight: bold;
      line-height: 36px;
      font-size: 24px;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
      right: 0px;
      margin-top: -20px;
      cursor: pointer;
    }

    #ProductAddonsDrawer {
      .product_addons_drawer_list {
        list-style: none;
        .product_addon_listing {
          cursor: pointer;
          display: inline-block;
          margin-left: 8px;
          margin-right: 8px;
          border: 2px solid #fff;
          padding: 8px;
          .aeon-shadow;
          .aeon-round;
          background-color: #fcfcfc;
          vertical-align: top;
          width: 200px;
          height: 112px;
          overflow: hidden;
          position: relative;

          .price {
            position: absolute;
            top: 8px;
            right: 8px;
            left: 8px;
            text-align: center;
            opacity: 0.7;
          }

          .price:before {
            content: "$";
            margin-right: 2px;
          }

          .cover_image_wrapper {
            height: 64px;
            width: 64px;
            .center-margins;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .title {
            border-top: 1px solid #ddd;
            width: 200px;
            font-size: 14px;
            text-align: center;
          }
        }
      }

    }
  }
}

#ProductsList.edit_mode {
  background: transparent;

  #ProductControl {
    position: fixed;
    z-index: 102;
    display: block;
    height: 32px;
    padding: 8px;
    top: 0px;
    left: 526px;
    .new_product_button {
      .button;
      width: 120px;
      font-size: 14px;
      display: inline-block;
    }
    .delete_product_widget {
      .button;
      width: 64px;
      right: 12px;
      font-size: 14px;
      display: inline-block;
    }
  }

  .product_listing {
    cursor: auto;
    margin-bottom: 8px;
    .aeon-round;

    .drag_handle {
      height: 24px;
      width: 24px;
      position: absolute;
      left: 0px;
      background-image: url('/images/draghandle.png');
      background-repeat: no-repeat;
      background-position: center center;
      display: block;

      z-index: 2;
    }

    .title {
    }
  }
}

.product_listing.stub {
  background-color: #fff !important;
  -webkit-transform: scale(0.8) translateX(-1%);
  z-index: 1000;
  .aeon-shadow;
}

#EditProductsButton {
  .button;
  font-size: 14px;
  width: 120px;
  position: absolute;
  top: 8px;
  left: 400px;
  z-index: 102;
}

#ProductDetailWrapper {
  position: absolute;
  left: 394px;
  padding: 12px;
}

#ProductDetail {
  border: 1px solid #ececec;
  padding: 12px;

  .title {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
  }

  #ProductDiscontinuedWrapper {
    display: none;
    position: absolute;
    left: 24px;
  }

  #ShippingOptionsFreeShippingWrapper {
    display: none;
    position: absolute;
    left: 224px;
  }

  #ShippingOptionsShipFlatrateWrapper {
    display: none;
    position: absolute;
    left: 372px;

    #ShipFlatratePrice {
      position: absolute;
      //border: 1px solid #ccc;
      left: 40px;
      top: 54px;
      height: 20px;
      width: 64px;
    }

    #ShipFlatratePrice:before {
      content: "$";
      margin-right: 1px;
    }


  }

  .weight {
    position: absolute;
    right: 48px;
  }

  .weight:before {
    content: "Weight: ";
  }

  .weight:after {
    content: "lbs";
  }

  .currency_marker, .price {
    display: inline-block;
    font-size: 20px;
    color: #900;
  }

  .add_to_cart_button {
    .button;
    width: 156px;
    display: inline-block;
    margin-left: 24px;
    .add_to_cart_icon {
      float: left;
      margin-left: 8px;
      margin-top: -2px;
    }
  }

  .description {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  .media_items_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 564px;
    margin-top: 0px;
    .aeon-round(3px);
    border-top: 0;
  }

  .media_items_wrapper .media_items_listing_wrapper {
    padding: 0;
    padding-bottom: 16px;
  }

  .media_items_wrapper .media_items_listing_wrapper .media_items_listing {
    padding-left: 1px;
  }

  .content {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  #ProductDetailAddons {
    margin-top: 24px;
  }

}

#ProductDetail.edit_mode {
  min-width: 720px;

  .title {
    padding-right: 200px;
  }

  .price_missing, .price {
    margin-top: 96px;
    min-width: 32px;
    border-bottom: 1px solid;
  }

  #ProductDiscontinuedWrapper {
    display: block;
  }

  #ShippingOptionsFreeShippingWrapper {
    display: block;
  }

  #ShippingOptionsShipFlatrateWrapper {
    display: block;
  }

}
#ProductDetailControl {
  position: fixed;
  top: 8px;
  z-index: 103;
  left: 412px;
}

.draggable_widget {
  .button;
  display: inline-block;
  font-size: 14px;
}


#ProgressModalBlocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1299;
  background-color: #333;
  opacity: 0.5;
}

#ProgressModal {
  position: fixed;
  z-index: 1301;
  width: 590px;
  height: 164px;
  .aeon-round(9px);
  .aeon-shadow(0px, 0px, 64px, -1px, #333);
  border: 1px solid #333;
  background-color: #ececec;

  #ProgressBarWrapper {
    width: 90%;
    height: 64px;
    border: 1px solid #8b8b8b;
    .aeon-round(22px);
    overflow: hidden;
    .center-margins;
    margin-top: 32px;
    background-color: #fcfcfc;
    box-shadow:inset 0px 0px 16px 1px #8b8b8b;

    #ProgressBar {
      width: 0%;
      height: 64px;
      background: #d0e4f7; /* Old browsers */
      background: -moz-linear-gradient(top,  #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0e4f7), color-stop(24%,#73b1e7), color-stop(50%,#0a77d5), color-stop(79%,#539fe1), color-stop(100%,#87bcea)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */
    }
  }

  #ProgressInformation {
    margin-top: 12px;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }

}

#FileUploadModalBlocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1299;
  background-color: #333;
  opacity: 0.5;
}

#FileUploadModal {
  position: absolute;
  z-index: 1301;
  width: 590px;
  height: 164px;
  .aeon-round(9px);
  .aeon-shadow(0px, 0px, 64px, -1px, #333);
  border: 1px solid #333;
  background-color: #ececec;

  #FromYourDeviceButton {
    .button;
    position: absolute;
    width: 250px;
    border: 1px solid #ff000;
    padding: 12px;
  }

  #TempFileInput {
    position: absolute;
    z-index: 1399;
    width: 220px;
    border: 1px solid #333;
    padding: 20px;
    margin-top: 0px;
    opacity: 0;
    cursor: pointer;
  }
}


#AccessoryWrapper {
  position: absolute;
  right: 32px;
  top: 19px;
}

#ProductDetailWrapper {
  #ProductDetail {
    #ProductDetailAddons {
      .product_addons_wrapper {
        .product_addons_list {
          list-style: none;
          .product_addon_listing {
            cursor: pointer;
            display: inline-block;
            margin-left: 8px;
            margin-right: 8px;
            border: 2px solid #fff;
            padding: 8px;
            .aeon-shadow;
            .aeon-round;
            background-color: #fcfcfc;
            vertical-align: top;
            width: 200px;
            height: 112px;
            overflow: hidden;
            position: relative;

            .price {
              position: absolute;
              top: 8px;
              right: 8px;
              left: 8px;
              text-align: center;
              opacity: 0.7;
              color: #333;
              display: block;
              margin: 0;
              border: 0;
              font-size: 16px;
            }

            .price:before {
              content: "$";
              margin-right: 2px;
            }

            .cover_image_wrapper {
              height: 64px;
              width: 64px;
              .center-margins;
              img {
                height: 100%;
                width: 100%;
              }
            }
            .title {
              border-top: 1px solid #ddd;
              width: 200px;
              font-size: 14px;
              text-align: center;
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.product_addon_listing {
  cursor: pointer;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  border: 2px solid #fff;
  padding: 8px;
  .aeon-shadow;
  .aeon-round;
  background-color: #fcfcfc;
  vertical-align: top;
  width: 200px;
  height: 112px;
  overflow: hidden;
  position: relative;

  .price {
    position: absolute;
    top: 8px;
    right: 8px;
    left: 8px;
    text-align: center;
    opacity: 0.7;
    color: #333;
    display: block;
    margin: 0;
    border: 0;
    font-size: 16px;
  }

  .price:before {
    content: "$";
    margin-right: 2px;
  }

  .cover_image_wrapper {
    height: 64px;
    width: 64px;
    .center-margins;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .title {
    border-top: 1px solid #ddd;
    width: 200px;
    font-size: 14px;
    text-align: center;
    border-bottom: 0;
  }
}

#UserControls, #AnonymousControls {
  position: absolute;
  right: 88px;
  width: 250px;
  .not_user {
    position: absolute;
    left: 0px;
    font-size: 12px;
    text-align: right;
    font-weight: bold;
    .current_user_sign_out {
      margin-left: 4px;
      text-decoration: none;
      color: #00F;
    }
  }
  #CurrentUserGreeting {
    display: inline-block;
  }
  #MyAccount {
    position: absolute;
    top: 0px;
    right : 0px;
    display: inline-block;
    .button;
  }

}

#CurrentCart {
  position: absolute;
  right: 24px;
  //border: 1px solid #333;
  background-image: url("/images/cart_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 64px;
  height: 32px;
  text-align: center;
  cursor: pointer;
  .no-select;

  #CartItemsCount {
    color: #900;
    font-weight: bold;
    font-size: 16px;
    text-indent: 5px;
    margin-top: -3px;
  }

}

#CurrentCartWrapper {
  position: fixed;
  right: 0px;
  top: 46px;
  z-index: 99;

  .aeon-round-bottom;
  padding: 24px;
  .aeon-shadow;
  border: 1px solid #a5a5a5;

  //background-color: #ececec;

  background: rgb(252,252,252); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,252,252,1) 7%, rgba(237,237,237,1) 85%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgba(252,252,252,1)), color-stop(85%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 7%,rgba(237,237,237,1) 85%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,252,252,1) 7%,rgba(237,237,237,1) 85%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,252,252,1) 7%,rgba(237,237,237,1) 85%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,252,252,1) 7%,rgba(237,237,237,1) 85%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

  #CartItemList {
    padding-bottom: 12px;
    border-bottom: 2px solid #f5f5f5;
    .cart_item_listing {
      border-top: 1px solid #ccc;
      padding-top: 8px;
      clear: both;
      position: relative;
      .cover_thumb {
        display: inline-block;
        height: 64px;
        width: 64px;
        margin-right: 12px;
        img {
          display: inline-block;
          opacity: 0.7;
          max-height: 100%;
          max-width: 100%;
          border: 1px solid #969696;
          .aeon-round;
        }
      }
      .title {
        display: inline-block;
        vertical-align: top;
        width: 350px;
        a {
          text-decoration: none;
          color: #004B91;
          font-weight: bold;
        }
      }
      .price_and_options {
        display: inline-block;
        vertical-align: top;
      }
      .price {
        display: inline-block;
        vertical-align: top;
        margin-left: 12px;
        color: #900;
        font-weight: bold;
        width: 74px;
        text-align: right;
      }
      .quantity {
        display: inline-block;
        vertical-align: top;
        margin-left: 12px;
        background-color: #fcfcfc;
        padding: 4px;
        text-align: center;
      }
      .remove_icon {
        height: 32px;
        width: 32px;
        background-image: url('/images/remove_icon.png');
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
        margin-top: -3px;
        opacity: 0.5;
      }
    }
  }

  #CartItemSubTotalWrapper {
    text-align: right;
    padding-top: 8px;
    display: inline-block;
    float: right;
    .cart_label {
      display: inline-block;
      font-weight: bold;
      color: #646464;
    }
    #CartItemSubTotal {
      color: #900;
      font-weight: bold;
      width: 86px;
      display: inline-block;
      text-align: right;
      margin-right: 12px;
    }
  }

  #CheckoutButtonWrapper {
    padding-top: 10px;
    display: inline-block;
    float: left;
    #CheckoutButton {
      .button;
      background: rgb(252,234,187); /* Old browsers */
      background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
      padding-left: 16px;
      padding-right: 16px;
      font-size: 14px;
      text-shadow: 0px 0px -1px #000;
      border-color: #555;
      .aeon-round(18px);
    }
  }

}

#NewCategoryModal {
  padding: 12px;
  #NewCategory {
    width: 350px;
    height: 75px;
    position: relative;
    padding: 12px;

    #NewCategoryTitle {
      width: 100%;
      font-size: 22px;
      padding: 2px;
    }

    #CreateNewCategoryButton {
      .button;
      position: absolute;
      right: 0px;
      bottom: 0px;
      border-color: #a2a2a2;

    }
  }
}

#CheckoutList {
  min-width: 640px;
  max-width: 960px;
  .center-margins;
  margin-top: 96px;
  padding-bottom: 12px;
  border-bottom: 2px solid #f5f5f5;
  .cart_item_listing {
    border-top: 1px solid #ccc;
    padding-top: 8px;
    clear: both;
    position: relative;
    .cover_thumb {
      display: inline-block;
      height: 64px;
      width: 64px;
      margin-right: 12px;
      img {
        display: inline-block;
        opacity: 0.7;
        max-height: 100%;
        max-width: 100%;
        border: 1px solid #969696;
        .aeon-round;
      }
    }
    .title {
      display: inline-block;
      vertical-align: top;
      min-width: 400px;
      a {
        text-decoration: none;
        color: #004B91;
        font-weight: bold;
      }
    }
    .price_and_options {
      float: right;
    }
    .price {
      display: inline-block;
      vertical-align: top;
      margin-left: 12px;
      color: #900;
      font-weight: bold;
      width: 74px;
      text-align: right;
    }
    .quantity {
      display: inline-block;
      vertical-align: top;
      margin-left: 12px;
      background-color: #fcfcfc;
      padding: 4px;
      text-align: center;
    }
    .remove_icon {
      height: 32px;
      width: 32px;
      background-image: url('/images/remove_icon.png');
      background-repeat: no-repeat;
      background-position: center center;
      display: inline-block;
      cursor: pointer;
      vertical-align: top;
      margin-top: -3px;
      opacity: 0.5;
    }
  }
}

#UserSessionWrapper {
  border: 1px solid #333;
  .aeon-round;
  margin-top: 72px;
  margin-left: 48px;
  margin-right: 48px;
  padding: 24px;
  #UserSessionExplanation {}
  #UserSession {
    position: relative;
    margin-top: 24px;
    width: 642px;
    padding-bottom: 24px;
    .center-margins;
    .field_wrapper {
      margin-bottom: 8px;
    }
    label {
      display: inline-block;
      width: 200px;
      text-align: right;
      margin-right: 8px;
    }
    input {
      font-size: 18px;
      width: 350px;
      .aeon-round(9px);
      border: 1px solid #ccc;
      padding: 8px;
      box-shadow:inset 1px 1px 8px -2px #8b8b8b;
    }
    #UserSessionEmail {

    }
    #ForgotPasswordWrapper {
      text-align: left;
      margin-left: 212px;
    }
  }
}

#SignInButton {
  .button;
  position: absolute;
  right: 68px;
  bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
#SignUpButton {
  .button;
  position: absolute;
  right: 68px;
  bottom: -8px;
  padding-left: 12px;
  padding-right: 12px;
}

#MyAccountModal {
  .aeon_modal;
  height: 500px;
  width: 500px;
  padding: 8px;

  .modal_title {
    border-bottom: 2px solid #160d8b;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 22px;
    color: #160d8b;
  }

  .list {
    position: relative;
    width: 484px;
    border: 1px solid #2a2a2a;
    padding: 6px;
    margin-bottom: 8px;
//    margin-left: 8px;
//    margin-right: 8px;
    .aeon-round();
    min-height: 125px;

    .section_label {
      position: relative;
      width: 470px;
      height: 30px;
      margin-bottom: 12px;
      font-size: 20px;
      font-weight: bold;
    }

    .message {

    }
  }

  #AddressList {
    position: relative;
    #AddAddress {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      .button;
      font-size: 12px;
      width: 125px;
      margin-bottom: 8px;
    }
    .address_listing {
      border-top: 1px solid #646464;
      .label {
        display: inline-block;
        font-size: 21px;
      }
      .shipping_true, .billing_true {
        display: inline-block;
        .statusIcon;
        .ok;
        .aeon-round(10px);
        height: 10px;
        width: 10px;

       }

      .shipping_false, .billing_false {
        display: inline-block;
        .statusIcon;
        .ok;
        .aeon-round(10px);
        height: 10px;
        width: 10px;
      }

      .city,
      .state,
      .postal_code {
        display: inline-block;
      }

    }
  }


}

.address_listing {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 8px;
  position: relative;
  .aeon-round;
  color: #667;
  vertical-align: top;
  min-width: 232px;
  min-height: 96px;
  font-size: 14px;
  text-align: center;
  margin: 8px;

  .delete_address_icon {
    color: #fcfcfc;
    //font-weight: bold;
    background-color: #777;
    border: 2px solid #fff;
    .aeon-shadow;
    font-size: 18px;
    line-height: 13px;
    text-indent: 1px;
    padding: 8px;
    .aeon-round(18px);
    width: 16px;
    height: 16px;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
  }


  .city, .state, .postal_code {
    display: inline-block;
  }

  .city:after {
    content: ', ';
  }

  .address_classification {
    position: absolute;
    bottom: 8px;
    border-top: 1px solid #ececec;
    margin-top: 8px;
    padding-top: 4px;

    .is_shipping {
      display: inline-block;
      border: 1px solid;
      padding: 8px;
      .aeon-round;
      cursor: pointer;
      .no-select;
    }

    .is_billing {
      display: inline-block;
      margin-left: 4px;
      border: 1px solid;
      padding: 8px;
      .aeon-round;
      cursor: pointer;
      .no-select;
    }

    .selected_false {
      border-color: #ececec;
      background-color: #fcfcfc;
    }

    .selected_true {
      border-color: #333;
      background: #e4efc0; /* Old browsers */
      background: -moz-linear-gradient(top,  #e4efc0 0%, #abbd73 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4efc0), color-stop(100%,#abbd73)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #e4efc0 0%,#abbd73 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #e4efc0 0%,#abbd73 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4efc0', endColorstr='#abbd73',GradientType=0 ); /* IE6-9 */
      color: #333;
    }

    clear: both;
  }

}

#ReviewAndAuthorizeWrapper {
  border: 1px solid #333;
  padding: 12px;

  #AddressesWrapper {
    #AddressesList {
      list-style: none;
      display: inline-block;
    }
    #AddAddress {
      .address_listing;
      cursor: pointer;
      line-height: 64px;
    }

  }

}

#AddAddressModal {
  padding: 24px;
  #NewAddress {
    input {
      display: block;
      font-size: 18px;
      width: 350px;
      .aeon-round(3px);
      border: 1px solid #ccc;
      margin-bottom: 8px;
      padding: 8px;
      box-shadow:inset 1px 1px 8px -2px #8b8b8b;
    }
    #AddNewAddressButton {
      .button;
      margin-top: 24px;
      max-width: 358px;
      width: 358px;
      height: 32px;
      line-height: 32px;
    }
  }
}
