<%
  user_controls_visibility = "hidden"
  anonymous_controls_visibility = ""
  greeting = ""
  if current_user.class == User
    user_controls_visibility = ""
    anonymous_controls_visibility = "hidden"
    greeting = current_user.greeting
  end

-%>

<% if @editable -%>
  <div id="AdminNavigation" class="admin">

    <div id="PageControl" class="hidden">
      <div class="draggable_widget add_page_widget">Add Page</div>
      <div class="draggable_widget add_media_widget">Add Media</div>
      <div class="draggable_widget delete_media_widget">Delete Media</div>
    </div>

    <div id="EditCategoriesButton" class="hidden">Edit Categories</div>
    <div id="CategoryControl" class="hidden">
      <div class="new_category_button aeon_drag">New Category</div>
      <div class="delete_category_widget">Delete</div>
    </div>
    <div id="EditProductsButton" class="hidden">Edit Products</div>

    <div id="ProductDetailControl" class="hidden">
      <div class="draggable_widget add_media_widget">Add Media</div>
      <div class="draggable_widget set_cover_media_widget">Set Cover Image</div>
      <div class="draggable_widget delete_media_widget">Delete Media</div>
      <div class="draggable_widget link_addon_widget">Link Addons</div>
      <div class="draggable_widget unlink_addon_widget">Unlink Addon</div>
      <div class="draggable_widget inquire_widget">?</div>
    </div>

  </div>
<% end %>

<div id="Navigation">
  <div id="UserControls" class="<%= user_controls_visibility %>">
    <div id="CurrentUserGreeting">
      <%= greeting %>
    </div>
    <div class='your_account'>
      Your Account
    </div>
  </div>
  <div id="AnonymousControls" class="<%= anonymous_controls_visibility %>">
    <div id="CurrentUserGreeting">
      Hello!
    </div>
    <div class='not_user'>
      <a href="/users/sign_in" class="current_user_sign_out" rel="nofollow">Sign in</a>
    </div>
  </div>
  <div id="CurrentCart"><div id="CartItemsCount">0</div></div>
</div>

<div id="PageTabsWrapper">
  <%= render :partial => '/shared/page_tabs' %>
</div>