<% if @editable %>
  <div id="AdminNavigation">
    <div id="EditCategoriesButton">Edit Categories</div>
    <div id="EditProductsButton">Edit Products</div>
  </div>
<% end %>

<div id="Navigation">
  <div id="CurrentCart"><div id="CartItemsCount">0</div></div>
</div>
