<li class="page_relation" model_root="true" model="page" model_id="<%= page_relation.id %>">
  <div class="drag_handle"></div>
  <div class="title"><%= page_relation.title %></div>
  <div class="description"><%= page_relation.description %></div>
</li>