<div class="section_label">Pay via Credit Card</div>
<ul id="StripeCardsList">
  <%= render :partial => "/stripe_cards/stripe_card_listing", :collection => current_user.stripe_cards %>
  <li id="AddStripeCard">Add New Card</li>
</ul>