
<div class="storefront_admin_listing" model_root="true" model="storefront_admin" model_id="<%= storefront_admin_listing.id %>">
  <div class="storefront_admin_user_fullname"><%= storefront_admin_listing.user.fullname %></div>
  <div class="storefront_admin_user_email"><%= storefront_admin_listing.user.email %></div>
  <div class="remove_storefront_admin">Remove</div>
</div>


