<%
  editable = true
%>

<div id="CategoryControl">

</div>

<ul id="CategoriesList">
  <div class="category_droppable"></div>
  <%=  render :partial => 'categories/category_listing', :collection => @categories, :locals => { :editable => editable } %>
</ul>

<script type="text/javascript">
  var rents;
  var devent;
  var dui;
  var dparent;

  function resetInteractions(){
    var sub_categories_lists = $('.sub_categories_list');
    _.each(sub_categories_lists, function(sub_categories_list){
      $(sub_categories_list).children().tsort();
    });
    $('.category_listing').draggable({
      scope: 'categories',
      delay: 300,
      handle: ".drag_handle",
      revert: "invalid",
      revertDuration: 200,
      scroll: true,
      stack: '#CategoriesList',
      zIndex: 1000,
      cancel: '.title',
      start: function(event, ui){
        //$('.category_listing .title').removeAttr('contenteditable');
      },
      stop: function(event, ui){
        //$('.category_listing .title').attr('contenteditable', 'true');
      }
    });

    $('.category_listing').droppable({
      accept: '.category_listing',
      activeClass: 'can_drop',
      addClasses: false,
      greedy: true,
      hoverClass: 'can_drop_hover',
      scope: 'categories',
      drop: function(event, ui){
        devent = event;
        dui = ui;
        var clone = ui.draggable.clone().css({'top': 'auto', 'left': 'auto', 'z-index': 'auto'});
        var model_id = ui.draggable.attr('model_id');
        var model = ui.draggable.attr('model');
        var left_overs = $("[model='"+ model +"'][model_id='"+ model_id +"'][model_root='true']");
        _.each(left_overs, function(left_over){
          $(left_over).remove();
        });

        var parent = $(event.target).closest('[model_root="true"]').find('.sub_categories_list:first');
        dparent = parent;
        parent.append(clone);
        resetInteractions();
      }
    });
  }

  $(document).ready(function(){
    resetInteractions();
  });

</script>
