<li class='product_addon_listing' model_root='true' model='product_addon' model_id='<%= product_addon_listing.id %>'>
  <div class='price'><%= product_addon_listing.price %></div>
  <div class='cover_image_wrapper'><img src="<%= product_addon_listing.cover_image_src %>"/></div>
  <div class='title'><%= product_addon_listing.title %></div>
</li>